<ion-view view-title="Contact Us">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
            Location Information
          </div>
          <div class="item item-body item-text-wrap">
            <h2>Our Address</h2>
            <address>
		      121, Clear Water Bay Road<br>
		      Clear Water Bay, Kowloon<br>
		      HONG KONG<br>
		      <i class="ion-android-call"></i>: +852 1234 5678<br>
		      <i class="ion-printer"></i>: +852 8765 4321<br>
		      <i class="ion-email"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
            </address>
          </div>
          <div class="button-bar">
              <a class="button button-positive"><i class="icon ion-android-call"></i> Call</a>
              <a class="button button-calm"><i class="icon ion-social-skype"></i> Skype</a>
              <a class="button button-balanced"><i class="icon ion-email"></i> Email</a>
          </div>
      </div>
  </ion-content>
</ion-view>
