<ion-popover-view style="opacity: 1">
    <ion-content>
        <div class="list">
            <div class="item">
                <button class="button button-balanced" ng-click="addToFavorites(dish.id)"><span class="icon ion-plus-circled"></span> Add to Favorites</button>
            </div>
            <div class="item">
                <button class="button button-positive" ng-click="showAddCommentForm(dish.id); closePopover()"><span class="icon ion-ios-chatbubble-outline"></span> Add Comment</button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>
