<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Comment</h1>
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="closeAddCommentForm()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="DishDetailController">
    <form id="addCommentForm" name="addCommentForm" ng-submit="addComment(index)">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Rating</span>
            <select ng-model="comment.rating">
                <option ng-repeat="n in [1,2,3,4,5]" value="{{n}}">{{n}}</option>
            </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="comment.author">
        </label>
        <label class="item item-input">
          <span class="input-label">Comment</span>
          <input type="textarea" ng-model="comment.comment">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
